<div class='container text-center'>
  <h1>Please donate?</h1>
  <%= image_tag 'starving.svg', :class => 'img' %>
  <p>Help feed starving programmers in the Philippines.</p>
  <%= form_with url: pay_path do |f| %>
    <%= f.number_field :amount, placeholder: '&#8369;'.html_safe, :required => true %>
    <%= f.text_field :message, placeholder: 'Your message...', :required => true %>
    <%= f.submit 'Send money' %>
  <% end %>
</div>

